body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: grey;
    color: #333;
    text-align: center;
}  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: gray;
    color: white;
}
.logo  {
    margin: 0;
    font-size: 1.5rem;
}
.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 200px;
}
.navbar li {
    display: inline;
}
.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}
.navbar{
    color: white;
}
.Homepage {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
}
.Homepage-image {
    width: 90%;
    height: 90%;
    object-fit: cover;
    text-align: center;
}
.Home {
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.Home h1 {
    font-size: 2rem;
    color: black;
}
.Home p {
    font-size: 1rem;
    line-height: 1.6;
    margin: 10px 0;
}
.page-title {
    text-align: center;
    font-size: 2rem;
    color: black;
    margin: 20px 0;
}
.car-list {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px;
}
.car-card {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.car-card h3 {
    font-size: 1.5rem;
    color: #4CAF50;
    margin-bottom: 10px;
}
.car-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}
.car-card p {
    font-size: 1rem;
    margin: 5px 0;
}
.hours {
    margin: 20px;
    text-align: center;
}
.hours h3 {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 10px;
}
table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
    max-width: 900px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
tbody td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
.contact-form {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: black;
}
.contact-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}
.contact-form .submit-button {
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
